src/main/mule/dch-sitecore-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="dch-sitecore-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="dch-sitecore-sapi-config" api="dch-sitecore-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="dch-sitecore-sapi-main">
        <http:listener config-ref="dch-sitecore-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dch-sitecore-sapi-config" />
        
    </flow>
    <flow name="put:\entities\(assetid):application\json:dch-sitecore-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="95842698-891b-458c-a58b-7b6c076cbbe4" name="putbyassetid"/>
    </flow>
    <flow name="get:\health:dch-sitecore-sapi-config">
        <logger level="INFO" message="get:\health:dch-sitecore-sapi-config" />
    </flow>
    <flow name="get:\entities\query:dch-sitecore-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="eee6273c-afe3-4a63-b234-b95264b19f8c" name="getquery"/>
    </flow>
    <flow name="get:\entities\(assetid):dch-sitecore-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="84e6d60d-41bc-40b7-b350-7ae3505f3d42" name="getflow"/>
    </flow>
    <flow name="post:\search:application\json:dch-sitecore-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="69eb1354-4d45-4ff3-b40b-7b55dbfb64cc" name="searchpost"/>
    </flow>
</mule>
